@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;600&family=Open+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    font-family: 'Mukta', sans-serif;
    font-weight: 400;
    background-color: #f7f2f2;
    background-image: url(./assets/bg.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 10% 100%;
    background-position: left top;
    background-attachment: fixed;
    margin-left:13%;
}

h2 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: blueviolet;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.main_container{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.ContinueButtons {
    border-radius: 40px;
    border: 1px solid #E9D7D4;
    background-color: #ffffff;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin: 5px;
}

img {
    width: 10%;
    display: block;
    margin: 0 15px 0 0px;
}

.divider {
    display: flex;
    align-items: center;
    height: 40px;
}
  
.divider::before,
.divider::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    border: 0.5px solid #e0e0e0;
    border-radius: 10px;
    margin: 0 10px;
    padding: 0 70px;
    background-color: #e0e0e0;
}
  
.or-text {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    background-color: #f7f2f2;
    color: #8b8b8b;
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
}

label > p {
    font-size: 18px;
}

#pwLabel {
    margin-top: 10px;
} 

input {
    width: 100%;
    padding: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    margin: 10px 0;
}

#login {
    font-family: 'Poppins', sans-serif;
    background-color: blueviolet;
    font-style: bold;
    font-weight: 600;
    color: white;
    border: 1px solid blueviolet;
    margin: 18px;
    border-radius: 5px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
}


#signup {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: bold;
}

@media (max-width: 440px){
    * {
        font-size: 14px;
    }

    body {
        width: 70%;
    }

    .main_container {
        width: 90%;
    }

    .ContinueButtons {
        font-size: 14px;
    }

    .CntText {
        font-size: 12px;
    }

    .divider::before,
    .divider::after {
        padding: 0 30px;
    }

    input {
        width: 100%;
        padding: 14px;
        margin: 8px 0;
    }

    #login {
        font-size: 16px;
    }
}